# =============================
# 通用
# =============================
.DS_Store
Thumbs.db

# =============================
# VSCode 配置
# =============================
.vscode/
*.code-workspace

# =============================
# Keil MDK-ARM 编译文件
# =============================
*.axf
*.bak
*.bld
*.dep
*.htm
*.lnp
# 列表文件，由编译器生成，包含源代码与汇编指令的对应关系，用于调试或优化分析。
*.lst
*.map
*.obj
*.scr
*.tra
*.iex
# 内存映射文件，由链接器生成，展示全局变量、函数的内存地址分配及 Flash/RAM 占用统计。
*.map

# 用户界面状态（如项目树展开/折叠状态、最近打开的文件）
*.uvguix.*
# 用户个性化设置，如调试器配置、断点位置、窗口布局等
*.uvoptx 
# EventRecorder 的配置文件，用于代码执行时的实时事件记录与分析
*.scvd

# Keil 输出目录（根据工程命名修改）

Lwatch/MDK-ARM/DebugConfig/
Lwatch/MDK-ARM/Lwatch/
# =============================
# STM32CubeMX 生成的临时文件
# =============================
*.launch
*.settings/
*.ioc-backup

# =============================
# 编译输出常见目录
# =============================
build/
out/
Debug/
Release/
